<h3><%= @user.name %>様</h3>
<hr>

<p>パスワードの変更に関するお知らせ</p>

<p>次のリンクからパスワードを変更してください。:<a href="<%= @url %>"><%= @url %></a>.</p>

<p>本メールの送信メールアドレスは配信専用のため、返信されても回答できません。 本メッセージへの返信はご遠慮ください。</p>

<p>公式サイト:<a href="<%= @top_url %>"><%= @top_url %></a></p>

