<h2><%= @applicant.name %>さん</h2>

<p>参加リクエストが承認されました！</p>
<p>フレンドリクエストが送られるまでお待ちください</p>

<p><%= @host.name %>からメッセージ</p>
<p><%= @message %></p>

<p>ホストのGame ID：<%= @host.game_id %></p>

<p>応募したスクワッドは<a href="<%= @url %>">こちら</a></p>

