<p><%= @applicant.name %>さん</p>
<hr>

<h3>参加リクエストが承認されました！</h3>
<p>フレンドリクエストが送られるまでお待ちください</p>

<h4><%= @host.name %>からメッセージ</h4>
<p><%= @message %></p>

<p>リクエストが届かない場合は、以下のIDに申請してください</p>
<p>ホストGame ID:<%= @host.game_id %></p>
<hr>

<p>応募したスクワッドはこちら:<a href="<%= @url %>"><%= @url %></a></p>

<p>公式サイト:<a href="<%= @top_url %>"><%= @top_url %></a></p>


<p>本メールの送信メールアドレスは配信専用のため、返信されても回答できません。 本メッセージへの返信はご遠慮ください。</p>
