<p><%= @host.name %>さん</p>

<hr>

<h3>参加リクエストが送信されました</h3>

<h4><%= @applicant.name %>からメッセージ</h4>
<p><%= @message %></p>

<hr>

<p>いますぐリクエストをチェック:</p><a href="<%= @applications_url %>"><%= @applications_url %></a>
<p>応募先のスクワッドはこちら:</p><a href="<%= @room_url %>"><%= @room_url %></a>

<p>公式サイト:</p><a href="<%= @top_url %>"><%= @top_url %></a>
